body {
  background-image: url('background-image.jpg');
  background-size: auto;
  background-position: center;
  height: 100vh;
  }
  
.mt-5 {
  margin-top: 0rem!important;
  height: 95vh;
}

.col-md-10 {
  margin: 1em;
  margin-top: 10vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-color: #242fa7;
  padding: 1em;
}
  
.card-header {
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(39, 206, 150, 0.2);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  
.form-control {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
input[type="text"],
input[type="password"] {
  height: 50px;
  font-size: 1.2rem;
}
  
label {
  font-size: 1.2rem;
  //font-weight: 500;
  color: black;
  font-weight: bolder;
}

button[type="submit"] {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4vh;
  height: 50px;
  border-radius: 10px;
  background-color: #2c5db9;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
  
button[type="submit"]:hover {
  background-color: #1858be;
  cursor: pointer;
}
  
#question {
  text-align: center;
  opacity: 1;
  font: black;
  margin-top: 2vh;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-height: 500px) {
  .card-header {
    color: rgb(35, 35, 209);
    display: none;
  }

  .col-md-8 {
    margin-top: 1vh;
  }
}

@media (max-width: 400px) {
  input[type="text"],
  input[type="password"] {
    height: 50px;
    font-size: 1rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-nav {
  margin-left: auto;
}

.col-lg-10 {
  border: 2px;
  border-color: black;
}

.col-md-12 {
  border: 2px;
  border-color: black;
  border-style:solid;
}

.row {
  border: 2px;
  border-color: green;
  border-style:solid;
  margin-top: 2em;
  }

#LateXCode {
  height: 30em;
}

.container {
   max-width: 95%;
}

.form-row {
  border-style: dotted;
  border-radius: 1em;
  border-color: #2c5db9;
  margin-bottom: 1em;
  background-color:#3c847e
}

#filename-error {
  color: red;
  border: red;
}