body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
.mt-5 {
  margin-top: 0rem!important;
  height: 95vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-color: #242fa7;
  padding: 1em;
}
  
.card-header {
  height: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(39, 206, 150, 0.2);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  
.form-control {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
input[type="text"],
input[type="password"] {
  height: 50px;
  font-size: 1.2rem;
}
  
label {
  font-size: 1.2rem;
  //font-weight: 500;
  color: black;
  font-weight: bolder;
}

button[type="submit"] {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 50px;
  border-radius: 10px;
  background-color: #2c5db9;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 4vh;
}
  
button[type="submit"]:hover {
  background-color: #1858be;
  cursor: pointer;
}
  
.col-md-6 {
    margin: 2em;
    margin-top: 10vh;
}

#question {
  text-align: center;
  opacity: 1;
  font: black;
  margin-top: 2vh;
  font-size: 1.2rem;
  font-weight: 500;
}

