{% extends "layout.html" %}

{% block title %}
    Password recovery
{% endblock %}

{% block main %}
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-header">Password recovery</div>
      <div class="card-body">
        <form action="/forgot-password" method="post">
          <div class="form-group">
            <label for="email-password-recovery">Email:</label>
              <input type="text" class="form-control" id="email-password-recovery" name="email-password-recovery" placeholder="Enter email address" autofocus required>
              <button type="submit" class="btn btn-primary">Send email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
