{% extends "layout.html" %}

{% block title %}
    LaTeX tests generator
{% endblock %}

{% block main %}
<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="help-modal" tabindex="-1" aria-labelledby="helpModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="help-modal-title">Help</h5>
            <button type="button" class="close" aria-label="Close"  onclick="closeModal('help-modal')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="help-modal-message">
            <h5>Instructions</h5>
            <ul>
              <li>Write LaTeX code in the text field. What is written there is treated as if you
                  wrote in the section <br><i>\begin{document}..\end{document}</i><br>                
              </li>
              <li>
                If you want to add a variable which value will be randomly chosen among groups, use <br>
                <i><b>#someVarName#</i></b><br>
                syntax. The variable will appear in the variable column. Choose the desired range afterwards.
                NOTE: Variable #G# is reserved for a group symbol.
              </li>
              <li>
                If you want the expresion, which is dependend on variables' values to be evaluated, wrap it using
                <i>'@'</i> symbol. For example, <br>
                <i><b>@#a#*#b#@</i></b><br>
                for a=2 and b=3, will result in 6 in the final document, not 2*3.
                Inside @..@ use math operators, not LaTeX symbols.
              </li>
              <li>
                Click <i>Generate tests</i> button to download and save the document or preview to view it only.
                The list of all saved documents is in the Tests tab.
                After saving the document you can use its code by choosing it from <i>Saved files</i> list
                and then clicking <i>Apply template</i>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal('help-modal')">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
      <!-- end modal #### -->
  <div class="col-xl-5 col-md-9 col-sm-12" id="code_column">
        <div class="row">
          <div class="col-3">
            <label for="filename">Filename</label>
          </div>
          <div class="col">
            <input type="text " class="form-control" id="filename" name="filename" placeholder="Provide a filename without an extension" required>
            <p id="filename-error"></p>
          </div>
        </div>
        <!-- Groups -->
        <div class="row" id="groups-row">
          <div class="col-3">
            <label for="nr_of_groups">Groups</label>
          </div>
          <div class="col-3">
            <select class="form-control" id="nr_of_groups" name="groups">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>

        <!-- Saved files -->
          <div class="col-3">
            <label for="saved_files">Saved files</label>
          </div>
          <div class="col-3">
            <select class="form-control" id="saved_files" name="saved_files">
              {% for file in saved_files %}
                <option value="{{ file["t_file"] }}">{{ file["filename"] }}</option>
              {% endfor %}
              </select>
          </div>
        </div>
        
        <textarea class="form-control" id="LateXCode" rows="3" oninput="update_variables_forms()" onchange="update_variables_forms()">
Imię i nazwisko: ...................................................

Grupa: #G#

\textbf{Zad 1.} Oblicz sumę
$$\dfrac{1}{2}+\dfrac{1}{3}$$

\textbf{Zad 2.} Wyprowadź wzór na $(a+b)^2$
        </textarea>
      <button class="btn btn-primary mb-2" onclick="sendUserData()">Generate tests</button>
      <button class="btn btn-primary mb-2" onclick="generate_preview()">Preview</button>
      <button class="btn btn-primary mb-2" onclick="apply_template()">Apply template</button>
  </div>

  <div class="col-xl-2 col-md col-sm-12" id="variables_colum">
    <!--
    <form>
      <div class="form-row"> 
        <div class="col-auto">
          <label class="col-form-label" for="inputPassword5">Variable: u</label>
        </div>
        <div class="col-auto"> 
        <label class="col-form-label" for="inputPassword5">Variable: u</label>
        <input type="text" class="form-control mb-2" id="inputPassword5" placeholder="Minimum Value">
         <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Maximum Value">
        </div>
      </div>
    </form> -->
  </div>
  <div class="col-xl col-md-12 col-sm-12" id="preview-column">
    <iframe id="preview" frameborder="0"></iframe>
  </div>
  </div>
</div>
{% endblock %}
