{% extends "layout.html" %}

{% block title %}
    LaTeX tests generator
{% endblock %}

{% block main %}
<div class="row" id="main-row">
<!-- Help Modal -->
{% include "help-modal.html" %}
<!-- Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error-modal-title">Error</h5>
        <button type="button" class="close" aria-label="Close"  onclick="closeModal('error-modal')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="error-modal-message">
        This is error message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal('error-modal')">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
  <!-- end error modal #### -->
  <div class="col-xl-5 col-md-9 col-sm-12" id="code_column" data-csrf-token="{{ csrf_token }}">
        <div class="row">
          <div class="col-12" id="filename-column">
            <div class="form-label-group">
              <input type="text " class="form-control" id="filename" placeholder="Provide a filename without an extension" oninput="validate_filename()">
              <label for="filename">Filename</label>
              <p id="filename-error"></p>
            </div>
          </div>
        </div>
        <!-- Groups -->
        <div class="row" id="groups-row">
          <div class="col-6" id="nr-of-groups-column">
            <select class="form-control" id="nr_of_groups" name="groups" onchange="validate_groups()">
              <option value="" disabled selected>Nr of groups</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <p id="groups-error"></p>
          </div>

        <!-- Saved files -->
          <div class="col-6" id="saved-files-column">
            <select class="form-control" id="saved_files" name="saved_files">
              <option value="" disabled selected>Saved files</option>
              {% for file in saved_files %}
                <option value="{{ file["t_file"] }}">{{ file["filename"] }}</option>
              {% endfor %}
              </select>
          </div>
        </div>
        
        <textarea class="form-control" id="LateXCode" rows="3" oninput="update_variables_forms()" onchange="update_variables_forms()">
Imię i nazwisko: ...................................................

Grupa: #G#

\textbf{Zad 1.}
Oblicz sumę
$$
\dfrac{1}{2} + \dfrac{1}{3}
$$

\textbf{Zad 2.}
Rozłóż na czynniki liczbę 25.
        </textarea>
      <button class="btn btn-primary mb-2" onclick="sendUserData()">Generate tests</button>
      <button class="btn btn-primary mb-2" onclick="generate_preview()">Preview</button>
      <button class="btn btn-primary mb-2" onclick="apply_template()">Apply template</button>
  </div>

  <div class="col-xl-2 col-md col-sm-12" id="variables_colum">
    <!--
    <form>
      <div class="form-row"> 
        <div class="col-auto">
          <label class="col-form-label" for="inputPassword5">Variable: u</label>
        </div>
        <div class="col-auto"> 
        <label class="col-form-label" for="inputPassword5">Variable: u</label>
        <input type="text" class="form-control mb-2" id="inputPassword5" placeholder="Minimum Value">
         <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Maximum Value">
        </div>
      </div>
    </form> -->
  </div>
  <div class="col-xl col-md-12 col-sm-12" id="preview-column">
    <iframe id="preview" frameborder="0"></iframe>
  </div>
  </div>
</div>
{% endblock %}
