{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<div class="row justify-content-center">
  <!-- ##### 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error-modal-title">Error</h5>
        <button type="button" class="close" aria-label="Close"  onclick="closeModal('error-modal')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="error-modal-message">
        This is error message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal('error-modal')">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
  <!-- end modal #### -->
  <!-- Modal success-register-->
  <div class="modal fade" id="success-register-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="success-register-modal-title">Success</h5>
          <button type="button" class="close" aria-label="Close"  onclick="closeModal('success-register-modal')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="success-register-modal-message">
          This is success message
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="location.href='/login'">Go back to login page</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
    <!-- end modal #### -->
  <!-- Modal processing data-->
  <div class="modal fade" id="processing-data-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="processing-data-modal-title">Success</h5>
          <button type="button" class="close" aria-label="Close"  onclick="closeModal('processing-data-modal')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="processing-data-modal-message">
          This is success message
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
    <!-- end modal #### -->

  <div class="col-lg-6 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form id="register_form" onsubmit="return false;">
          <div class="form-group">
            <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" autofocus required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" oninput="validate_password(this.value)" id="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
            <input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="Retype your password" required>
            <div class="container" id="validators">
              <ul class="validators" class="validator-invalid">
                <li id="validator-small-letter" class="validator-invalid">
                  Password contains a small letter
                </li>
                <li id="validator-capital-letter" class="validator-invalid">
                  Password contains a capital letter
                </li>
                <li id="validator-digit" class="validator-invalid">
                  Password contains a digit
                </li>
                <li id="validator-special-character" class="validator-invalid">
                  Password contains special character
                </li>
                <li id="validator-length" class="validator-invalid">
                  Password's length is at least 8
                </li>
              </ul>
            </div>
            <div class="container justify-content-center">
              <button type="button" class="btn btn btn-primary btn-lg btn-block" onclick="submitpass()"> Register </button>
              <div class="container justify-content-center" id="go-back-row">
                <div class="question">
                  <p>
                    <a href="\login">Go back</a>
                  </p>
              </div>
              </div>

            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
