{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<div class="row justify-content-center">
  <!-- ##### -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <!-- #### -->
  <div class="col-lg-6 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form id="register_form" onsubmit="return false;">
          <div class="form-group">
            <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" autofocus required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" oninput="validate_password(this.value)" id="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
            <input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="Retype your password" required>
            <div class="container" id="validators">
              <ul class="validators" class="validator-invalid">
                <li id="validator-small-letter" class="validator-invalid">
                  Password contains a small letter
                </li>
                <li id="validator-capital-letter" class="validator-invalid">
                  Password contains a capital letter
                </li>
                <li id="validator-digit" class="validator-invalid">
                  Password contains a digit
                </li>
                <li id="validator-special-character" class="validator-invalid">
                  Password contains special character
                </li>
                <li id="validator-length" class="validator-invalid">
                  Password's length is at least 8
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-primary" onclick="submitpass()">Register</button>
            <div id="question">
              <p>
                <a href="\login">Go back</a>
              </p>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
