{% extends "layout.html" %}

{% block title %}
    Tests
{% endblock %}

{% block main %}  
{% include "help-modal.html" %}
  <!-- get-tex-file Modal -->
  <div class="modal fade " id="get-tex-file-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="get-tex-file-modal-title">LaTeX code</h5>
          <button type="button" class="close" aria-label="Close"  onclick="closeModal('get-tex-file-modal')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="get-tex-file-modal-message">
          This is success message
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal('get-tex-file-modal')">Close</button>
          <button type="button" id="get-tex-file-save-file-button" class="btn btn-primary">Save file</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
    <!-- end get-tex-file modal #### --> 
    <!-- Delete modal -->
    <div class="modal fade " id="delete-file-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-sm modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete-file-modal-title"></h5>
            <button type="button" class="close" aria-label="Close"  onclick="closeModal('delete-file-modal')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="delete-file-modal-message">
            This is success message
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal('delete-file-modal')">Close</button>
            <button type="button" id="delete-file-button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
    <!-- end delete-file-modal -->
<table class="table" id="tests-main-table" data-csrf-token="{{ csrf_token }}>
    <thead>
        <tr>
            <th class="text-start">Filename</th>
            <th class="text-end">Date</th>
            <th class="text-end">Download</th>
            <th class="text-end">LaTeX code</th>
            <th class="text-end">Delete</th>
        </tr>
    </thead>
    <tbody>
{% for test in tests %}
        <tr>
            <td class="text-start">{{ test["filename"] }}</td>
            <td class="text-end">{{ test["date"] }}</td>
            <td class="text-end"><button type="button" class="btn btn-primary download-button" id = "${{test["filename"]}}">Download</button></td>
            <td class="text-end"><button type="button" class="btn btn-success get-tex-file-button text-nowrap" id = "$tex-file-{{test["filename"]}}">LaTeX code</button></td>
            <td class="text-end"><button type="button" class="btn btn-warning delete-button" id = "$delete-{{test["filename"]}}">Delete</button></td>
        </tr>
{% endfor %}      
    </tbody>
</table>
{% endblock %}